html{ background-color: blue;
}
.student {
  float: left;
  border: 4px solid #000;
  background-color: white;
}
h1{
  color: white;
}
.teacher {
  float:right;
  border: 4px solid #000;
  background-color: white;
}
p { text-align:center;
}
.footer{
  position:fixed;
  bottom:30px;
  width:10%;
  border: 4px solid #000;
  background-color: white;
 }

